{% extends 'base.html' %}

{% block title %}Аналітика активності{% endblock %}

{% block content %}
<div class="container">
    <h1>Аналітика активності</h1>

    <form method="POST">
        <label for="start_date">Дата початку:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date.strftime('%Y-%m-%d') if start_date else '' }}">

        <label for="end_date">Дата закінчення:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date.strftime('%Y-%m-%d') if end_date else '' }}">

        <button type="submit">Показати статистику</button>
    </form>

    <h2>Загальна кількість файлів: {{ total_files }}</h2>

    <div style="text-align: center;">
    <h2>Графік загальної кількості</h2>
    <img src="data:image/png;base64,{{ graph_url1 }}" alt="Графік загальної кількості"
         style="display: block; margin: 0 auto; max-width: 100%; height: auto;">

    <h2>Графік по авторам</h2>
    <img src="data:image/png;base64,{{ graph_url2 }}" alt="Графік по авторам"
         style="display: block; margin: 0 auto; max-width: 100%; height: auto;">
</div>
</div>
{% endblock %}
