<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Завантажити файл</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Список файлів{% endblock %}

    {% block content %}
<div class="container">
    <h1>Завантаження файла</h1>

    <form method="POST" enctype="multipart/form-data">
        <label for="file">Оберіть файл:</label>
        <input type="file" name="file" id="file" required>

        <label for="author_id">Оберіть автора:</label>
        <select name="author_id" id="author_id" required>
            {% for author in authors %}
            <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Завантажити</button>
    </form>

</div>
{% endblock %}
</body>
</html>
