<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Завантажити файл</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Список файлів{% endblock %}

    {% block content %}
<div class="container">
    <h1>Завантаження файла</h1>

    <form method="POST" enctype="multipart/form-data">
        <label for="file">Оберіть файл:</label>
        <input type="file" name="file" id="file" required>

        <label for="custom_filename">Введіть назву файлу:</label>
        <input type="text" name="custom_filename" placeholder="Введіть назву файла" id="custom_filename" required >

        <label for="publisher">Видавництво:</label>
<input type="text" name="publisher" id="publisher" value="{{ request.form.publisher or '' }}">

        <label>Оберіть авторів:</label>
        <div>
            {% for author in authors %}
            <label>
                <input type="checkbox" name="author_ids" value="{{ author.id }}">
                {{ author.name }}
            </label><br>
            {% endfor %}
        </div>

        <label for="upload_date">Введіть дату:</label>
        <input type="datetime-local" name="upload_date" id="upload_date">

        <button type="submit">Завантажити</button>
    </form>

</div>
{% endblock %}
</body>
</html>
